modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18536
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BEYhFv447Vc9X0cbkzUvCv1HjK1YtuQF0carsQ3fE5Uk5siPUGlQrflMM_8sNHOCRuXqiVXVjoWyNFzxSmVvpjM"
VAPID_PRIVATE_KEY = "NuICXvyDIlrE_XyEM0l7r58ECuHDpGUHJaXMReWLXu8"
VAPID_SUBJECT = "mailto:admin@disjointed.app"
